.corpo1{
background: LightGrey;
width: 600px;
margin: auto;
}
.titulo{
  text-align: center;
  color:ForestGreen;
  font-family: fantasy;
}
.subtitulo{
  text-align: center;
  font-family: inherit;
  font-weight: bolder;
  color:RoyalBlue;
}
.brasil
{
  text-align: left;
  font-style: oblique;
  font-size: 18px
}

.fundo{
  background: LightGrey;
  width: 600px;
  margin: auto;
}

.tituloAsia{
  text-align: center;
  color:rgb(119, 6, 6);
  font-family: fantasy;
}


.tituloEuropa{
  text-align: center;
  color:rgb(28, 26, 117);
  font-family: fantasy;
}

.subtituloAsia{
  text-align: center;
  font-family: inherit;
  font-weight: bolder;
  font-style: oblique;
  color:rgb(3, 1, 114);
}

.subtituloEuropa{
  text-align: center;
  font-family: inherit;
  font-weight: bolder;
  font-style: oblique;
  color:rgb(175, 158, 8);
}

.texto{
  text-align: justify;
  font-size: 17px;
}

.imagem{
  display: block;
  margin-left: auto;
  margin-right: auto;
}